/**************************** INICIO ****************************/

.hero-section {
    position: relative;
    background-image: url('/images/fondo-inicio.webp');
    background-size: cover;
    background-position: 85%;
    height: 65vh;
    min-height: 300px;
    max-height: 600px;  
    display: flex;
    align-items: flex-start;
    padding: 12rem 0 31rem;
    color: white;
    background-attachment: fixed;
    overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

@media (min-width: 768px) {
    .hero-section {
        background-position: right top;      
    }
    .hero-section::before {
    background: rgba(0, 0, 0, 0.226);
    }
}

.hero-wrapper {
    position: relative;
    width: 100%;
    padding: 0 1.8rem;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 2;
}

.hero-content {
    text-align: center;
    padding-left: 0rem;
}


@media (min-width: 1300px) {
    .hero-content {
        padding-right: 23rem;
        text-align: left;
        padding-left: 3.5rem;
    }
}

.animate {
    font-family: "Saira Stencil One", sans-serif;
    margin: 0rem 0;
    font-size: 8rem;
    font-weight: 600;
    margin-left: -5px;
    line-height: 1;
}

.animate span {
	display: inline-block;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}

.title span {
	color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .6s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #ffffff;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #ffffff;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: var(--naranja);
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #ffffff;
	}
}

@media (max-width: 575px) {
    .title {
        font-size: 5.2rem;
    }
}

.intro-section {
    position: relative;
    background-color: #ffffff;
    padding: 2rem 20% 3rem;
    text-align: left;
    z-index: 2;
}

.cards-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -5rem;
    z-index: 2;
}
  
.card {
    flex: 1 1 250px;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2.5rem 1.9rem 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.100);
    border-bottom: 6px solid transparent;
    height: 285px;
}

.card-orange {
    border-bottom-color: var(--naranja);
}

.card-yellow {
    border-bottom-color: #FBC62C;
}

.card-red {
    border-bottom-color: #0477BF;
}


.card-icon {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: .5rem;
    color: var(--oscuro);
}

.card-text {
    font-size: 16px;
    color: var(--texto);
}

.card-orange .card-icon,
.card-orange{
    color: var(--naranja);
}

.card-yellow .card-icon,
.card-yellow{
    color: #FBC62C;
}

.card-red .card-icon,
.card-red {
    color: #0477BF;
}

@media (min-width: 930px) {
    @keyframes fadeSlideInLeft {
    from { opacity: 0; transform: translateX(-90px); }
    to   { opacity: 1; transform: translateX(0); }
    }
    @keyframes fadeSlideInUp {
    from { opacity: 0; transform: translateY(90px); }
    to   { opacity: 1; transform: translateY(0); }
    }
    @keyframes fadeSlideInRight {
    from { opacity: 0; transform: translateX(90px); }
    to   { opacity: 1; transform: translateX(0); }
    }
    .cards-container .card:nth-child(1) {
    animation: fadeSlideInLeft 1s ease-out forwards .05s;
    }
    .cards-container .card:nth-child(2) {
    animation: fadeSlideInRight 1s ease-out forwards .05s;
    }
    .cards-container .card:nth-child(3) {
    animation: fadeSlideInUp 1s  ease-out forwards .05s;
    }
}
@media (min-width: 1425px) {
    .cards-container .card:nth-child(2) {
    animation: fadeSlideInUp 1s ease-out forwards .05s;
    }
    .cards-container .card:nth-child(3) {
    animation: fadeSlideInRight 1s  ease-out forwards .05s;
    }
}

@media (max-width: 768px) {
    .hero-wrapper {
        padding: 0 1.8rem;
    }
    .hero-section {
        height: 60vh;
        padding: 13rem 0 30rem;
    }
    .intro-section {
        padding: 3rem 5% 3rem;
    }
    .cards-container {
        gap: 1.5rem;
        margin-top: -5.5rem;
    }  
    .card {
        border-radius: 1rem;
        padding: 1rem 1.9em;
        margin: 0 2rem;
        height: 240px;
    }
    .card-title{
        font-size: 20px;
    }

    .card-text {
        font-size: 15px;
    }

    @keyframes fadeUp {
    from { 
        opacity: 0.7; 
        transform: translateY(25px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
    }
    .cards-container .card:nth-child(1),
    .cards-container .card:nth-child(2),
    .cards-container .card:nth-child(3) {
    opacity: 0;
    animation: fadeUp 1s ease-out forwards .05s;
    }
}

/**************************** GALERIA ****************************/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}


